[Unit]
Description=BGCDN Docker Event handler

[Service]
ExecStart=/home/bgcdn/daemon/docker-events.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
