[Unit]
Description=DTCDN Docker Event handler

[Service]
ExecStart=/home/dtcdn/daemon/docker-events.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
