[Unit]
Description=UPCDN Docker Event handler

[Service]
ExecStart=/home/upcdn/daemon/docker-events.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
